@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Noto Sans, sans-serif !important;
  scroll-behavior: smooth;
}

.content {
  padding: 28px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.my-auto {
  margin: auto;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #afe5ff;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@mixin spacing($property, $num) {
  #{$property}: 0.25rem * $num !important;
}

@mixin gap($num) {
  gap: 0.25rem * $num;
}

@function class-name($prefix, $num) {
  @return '#{$prefix}-#{$num}';
}

@for $i from 0 through 20 {
  .#{class-name('mt', $i)} {
    @include spacing('margin-top', $i);
  }
  .#{class-name('mb', $i)} {
    @include spacing('margin-bottom', $i);
  }
  .#{class-name('ml', $i)} {
    @include spacing('margin-left', $i);
  }
  .#{class-name('mr', $i)} {
    @include spacing('margin-right', $i);
  }
  .#{class-name('mx', $i)} {
    @include spacing('margin-left', $i);
    @include spacing('margin-right', $i);
  }
  .#{class-name('my', $i)} {
    @include spacing('margin-top', $i);
    @include spacing('margin-bottom', $i);
  }
  .#{class-name('m', $i)} {
    @include spacing('margin', $i);
  }
  .#{class-name('pt', $i)} {
    @include spacing('padding-top', $i);
  }
  .#{class-name('pb', $i)} {
    @include spacing('padding-bottom', $i);
  }
  .#{class-name('pl', $i)} {
    @include spacing('padding-left', $i);
  }
  .#{class-name('pr', $i)} {
    @include spacing('padding-right', $i);
  }
  .#{class-name('px', $i)} {
    @include spacing('padding-left', $i);
    @include spacing('padding-right', $i);
  }
  .#{class-name('py', $i)} {
    @include spacing('padding-top', $i);
    @include spacing('padding-bottom', $i);
  }
  .#{class-name('p', $i)} {
    @include spacing('padding', $i);
  }
  .#{class-name('gap', $i)} {
    @include gap($i);
  }
}
