$padding: 240px;
$bannerHeight: 700px;

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  padding: 36px 24px;
  height: 110px;
  border-radius: 12px;
  transition: all 0.4s;

  &:hover {
    background-color: rgba(255, 214, 74, 0.8);
  }

  .indicator {
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(-135deg);

    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 5px solid rgba(52, 14, 223);
      border-right: 5px solid rgba(52, 14, 223);
      animation: animate 0.5s linear infinite;

      &:nth-child(1) {
        top: -20px;
        left: -20px;
        animation-delay: 0s;
      }

      &:nth-child(2) {
        top: -10px;
        left: -10px;
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        top: 0;
        left: 0;
        animation-delay: 0.2s;
      }
    }
  }

  @keyframes animate {
    0% {
      border-color: rgba(52, 14, 223);
      transform: translate(0, 0);
    }

    20% {
      border-color: rgba(52, 14, 223, 0.7);
      transform: translate(10px, 10px);
    }

    20.1%,
    100% {
      border-color: rgba(52, 14, 223, 0.5);
    }
  }
}

.landing-header {
  padding: 0 $padding;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  height: 90px;
  background-color: rgb(245, 245, 245);

  .wrapper {
    height: 100%;

    .nav {
      height: 100%;
      margin-right: 24px;

      .item {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        cursor: pointer;

        a {
          color: inherit;
          text-decoration: none;
        }

        &:hover {
          color: #0906b8;
        }
      }
    }

    $bg: #f3f8fa;
    $white: #fff;
    $black: #282936;

    @mixin transition(
      $property: all,
      $duration: 0.45s,
      $ease: cubic-bezier(0.65, 0, 0.076, 1)
    ) {
      transition: $property $duration $ease;
    }

    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      width: 11rem;
      height: max-content;
      margin: auto;

      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;

        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;

          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;

            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }

      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 2rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
      }

      &:hover {
        .circle {
          width: 100%;

          .icon {
            &.arrow {
              background: $white;
              transform: translate(1rem, 0);
            }
          }
        }

        .button-text {
          color: $white;
        }
      }
    }

    @supports (display: grid) {
      body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
        grid-template-areas: '. main main .' '. main main .';
      }

      #container {
        grid-area: main;
        align-self: center;
        justify-self: center;
      }
    }
  }
}

.banner {
  width: 100%;
  height: $bannerHeight;
  background-image: url(../../assets/images/landing/home-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  & > .title {
    font-weight: 900;
    color: #0f28b8;
    padding: 100px 0 28px 0;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.1rem;
  }

  &.about {
    height: 100vh;
    background: url(../../assets/images/landing/landing-bg.png);
    background-size: cover;

    .info-container {
      display: flex;
      gap: 32px;
      padding: 32px $padding 36px $padding;

      .card {
        width: 33%;
        margin-top: 64px;
        padding: 16px 42px 24px 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 24px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

        &:nth-child(odd) {
          top: 80px;
        }

        .birthday {
          font-size: 32px;
        }
      }
    }
  }

  &.featured-activities {
    $tagBorderColor: #41516c;
    $bgColor: rgba(245, 245, 245);
    $lineW: 0.25rem;
    $inlineP: 1.5rem;
    $colGap: 2rem;
    $rowGap: 2rem;
    $dateH: 3rem;

    background-color: $bgColor;

    ul {
      display: grid;
      grid-template-columns: $lineW 1fr;
      grid-auto-columns: max-content;
      column-gap: $colGap;
      list-style: none;
      width: 75%;
      margin-inline: auto;

      .title {
        font-weight: 900;
        color: #0f28b8;
        padding: 20px 0 28px 0;
        font-size: 40px;
      }

      &::before {
        content: '';
        grid-column: 1;
        grid-row: 1 / span 20;
        background: rgb(225, 225, 225);
        border-radius: calc($lineW / 2);
      }

      li {
        grid-column: 2;
        margin-inline: $inlineP;
        grid-row: span 2;
        display: grid;
        grid-template-rows: min-content min-content min-content;
        &:not(:last-child) {
          margin-bottom: $rowGap;
        }

        .date {
          height: $dateH;
          margin-inline: calc($inlineP * -1);
          text-align: center;
          color: white;
          font-size: 1.25rem;
          font-weight: 700;
          display: grid;
          place-content: center;
          position: relative;
          border-radius: calc($dateH / 2) 0 0 calc($dateH / 2);

          &::before {
            content: '';
            width: $inlineP;
            aspect-ratio: 1;
            background: $tagBorderColor;
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.2) 100%,
              transparent
            );
            position: absolute;
            top: 100%;
            clip-path: polygon(0 0, 100% 0, 0 100%);
            right: 0;
          }

          &::after {
            content: '';
            position: absolute;
            width: 2rem;
            aspect-ratio: 1;
            background: $bgColor;
            border: 0.3rem solid $tagBorderColor;
            border-radius: 50%;
            top: 50%;

            transform: translate(50%, -50%);
            right: calc(100% + $colGap + $lineW / 2);
          }
        }

        .title,
        .descr {
          background: $bgColor;
          position: relative;
          padding-inline: 1.5rem;

          &::before {
            content: '';
            position: absolute;
            width: 90%;
            height: 0.5rem;
            background: rgba(0, 0, 0, 0.5);
            left: 50%;
            border-radius: 50%;
            filter: blur(4px);
            transform: translate(-50%, 50%);
          }
        }

        .title {
          overflow: hidden;
          font-weight: 500;

          &::before {
            bottom: calc(100% + 0.125rem);
          }
        }

        .descr {
          padding-block-end: 1.5rem;
          font-weight: 300;
          text-indent: 1.5em;

          &::before {
            z-index: -1;
            bottom: 0.25rem;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      ul {
        grid-template-columns: 1fr $lineW 1fr;

        &::before {
          grid-column: 2;
        }

        li {
          &:nth-child(odd) {
            grid-column: 1;
          }

          &:nth-child(even) {
            grid-column: 3;
          }

          &:nth-child(2) {
            grid-row: 2/4;
          }

          &:nth-child(odd) {
            .date {
              &::before {
                clip-path: polygon(0 0, 100% 0, 100% 100%);
                left: 0;
              }
              &::after {
                transform: translate(-50%, -50%);
                left: calc(100% + $colGap + $lineW / 2);
              }
            }
          }

          &:nth-child(odd) {
            .date {
              border-radius: 0 calc($dateH / 2) calc($dateH / 2) 0;
            }
          }
        }
      }
    }
  }

  &.featured-members {
    padding-bottom: 80px;

    .members-book {
      color: #333333;

      .page-wrapper {
        background-color: white;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 2px solid rgba(40, 41, 54, 0.6);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: url(../../assets/images/landing/old-book.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.firstpage {
          width: 100%;
          height: 100%;
          padding: 80px 64px;
          position: relative;

          h1 {
            font-size: 48px;
            font-weight: 800;
            z-index: 2;
            position: absolute;
            width: calc(100% - 128px);
            text-align: center;
          }

          div {
            height: 32px;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 108px;
              left: 0;
              width: 100%;
              z-index: 1;
              background-image: url(../../assets/images/landing/paint-splatter.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }

          p {
            text-align: justify;
            text-indent: 1.5em;
            margin-top: 100px;
          }
        }

        &:nth-child(odd) {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
          border-right: none;
          box-shadow: rgba(0, 0, 0, 0.4) -2px 2px, rgba(0, 0, 0, 0.3) -4px 4px,
            rgba(0, 0, 0, 0.2) -6px 6px, rgba(0, 0, 0, 0.1) -8px 8px,
            rgba(0, 0, 0, 0.05) -10px 10px;

          .page {
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.8);

            .page-num {
              bottom: 18px;
              left: 26px;
              font-weight: 700;
            }

            .image {
              order: 1;
            }

            .content {
              order: 2;
            }
          }
        }

        &:nth-child(even) {
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
          border: 2px solid rgba(40, 41, 54, 0.6);
          box-shadow: rgba(0, 0, 0, 0.4) 2px 2px, rgba(0, 0, 0, 0.3) 4px 4px,
            rgba(0, 0, 0, 0.2) 6px 6px, rgba(0, 0, 0, 0.1) 8px 8px,
            rgba(0, 0, 0, 0.05) 10px 10px;

          .page {
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
            box-shadow: inset 7px 0 9px -7px rgba(0, 0, 0, 0.8);

            .page-num {
              bottom: 18px;
              right: 26px;
              font-weight: 700;
            }

            .image {
              order: 2;
            }

            .content {
              order: 1;
            }
          }
        }

        .page {
          width: 100%;
          height: 100%;
          padding: 16px 28px 48px 24px;

          .wrapper {
            flex-direction: row;
            width: 100%;
            height: 100%;
          }

          .image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 10%;
          }

          .name {
            padding: 12px 0;
          }

          .content {
            max-width: 50%;
            padding: 0 36px 36px 36px;
            text-align: justify;

            h2 {
              font-weight: 700;
            }

            p {
              text-indent: 1.5em;
            }
          }
        }
      }
    }
  }

  &.contacts {
    height: 100%;

    & > .title {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .list {
      padding: 12px $padding 36px $padding;
      width: 100%;
      height: 100%;
      justify-content: space-between;

      & > div {
        width: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 0.25em;
        border-radius: 24px;
        padding: 24px 12px;
        margin-left: 6px;
        margin-right: 6px;

        a {
          color: inherit;
        }

        p {
          margin-bottom: 0;
          line-height: 2em;
        }
      }

      .box {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        font-weight: 600;
        border: 1px solid rgb(34, 56, 180);
        box-shadow: 0 20px 5px rgba(0, 0, 0, 0.5);
        border-radius: 24px;

        .image {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;
          transform: scale(1);
          transition-duration: 0.3s;
        }

        .content {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transform: scale(0);
          color: #ffffff;
          background: rgba(45, 99, 247, 0.6);
          border-radius: 24px;
        }

        &:hover {
          .content {
            transform: scale(1);
            transition-duration: 0.3s;
          }

          .image {
            transform: scale(0);
            transition-duration: 0;
          }
        }
      }
    }
  }
}
