.activity-item {
  background-color: #d5edf1;
  border-radius: 10px;

  .activity-detail-wrap {
    background-color: #fff;
    border-radius: 10px;

    .activity-description {
      font-size: 14px;
    }
  }
}
