@import '../../assets/scss/variables';

.profile {
  padding-top: $headerHeight;

  .container {
    max-width: 1200px;
    margin: 50px auto;

    .ant-image-img {
      cursor: pointer;
    }

    .ant-image-mask {
      display: none !important;
    }

    .profile-ava {
      position: relative;
      width: 200px;
      height: 200px;

      .img-wrap {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
      }

      .ant-upload-wrapper {
        position: absolute;
        right: 5px;
        bottom: 10%;
      }
    }
  }
}
