@import '../../assets/scss/variables';

.home {
  padding-top: $headerHeight;

  .d-center {
    position: relative;
  }

  .left-right-side {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    .left-side,
    .right-side {
      flex: 0 0 20.83333333333333%;
      max-width: 20.83333333333333%;
    }
  }

  .main {
    border: 1px solid #333;
    border-bottom: none;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 100%;

    .card {
      width: 80%;
      height: 300px;
      background-color: #eee;
    }

    .qa-hot {
      max-height: 150px;
      background-color: #eee;
      border: 1px solid #333;
      border-radius: 10px;
      overflow-y: auto;
    }
  }
}
