@import '../../assets/scss/variables';

.admin-layout {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: $sidebarWidth;
  }

  .main {
    padding-left: $sidebarWidth;
  }
}
