.sidebar {
  background-color: #fff !important;
  border-right: 1px solid #ccc;
  min-height: 100vh;

  .logo {
    cursor: pointer;
    animation: width 0.5s ease-in-out;
  }

  .icon {
    font-size: 20px !important;
  }
}
